.cba-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    content: url("../img/cba-logo.png");
    max-width: 250px;
    max-height: 32px;
}
.fa-nav {
    width: 24px;
    height: 24px;
    padding-top: 10px;
}
.searchbox {
    margin-top: 20px;
    border: #e3e3e3 1px solid;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}