@{
    ViewBag.Title = "CBA Travel Companion";
}

<header class="bar bar-nav">
    <h1 class="title"><img src="@Url.Content("~/assets/img/cba-logo.png")"/></h1>
</header>

<div class="content">
    <div class="content-padded">
    </div>
</div>