@{
    ViewBag.Title = "CBA Travel Companion";
}

<header class="bar bar-nav">
    <h1 class="title"><img src="@Url.Content("~/assets/img/cba-logo.png")"/></h1>
</header>

<nav class="bar bar-tab">
    <a class="tab-item" href="@Url.Action("Index")">
        <span class="icon icon-home"></span>
        <span class="tab-label">Home</span>
    </a>
    <a class="tab-item" href="#">
        <span class="icon icon-gear"></span>
        <span class="tab-label">Settings</span>
    </a>
</nav>

<div class="content">
    <p class="content-padded" style="text-align: center;">Travel companion</p>

    @{ Html.BeginForm("Index", "Home", FormMethod.Post, new { style = "margin-top: 25%;", @class = "content-padded" }); }
        <input type="search" placeholder="Search" name="search">
        <button class="btn btn-primary btn-block"><span class="icon icon-check"></span></button>
    @{ Html.EndForm(); }
</div>